<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src='https://www.pinclipart.com/picdir/big/565-5654673_cartoon-bird-with-a-hat-flappy-bird-icon.png' alt='bird icon' style='width:50px'>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/note">Log a sighting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/behaviors">Behaviors</a>
      </li>
    </ul>
    <ul class= 'navbar-nav ml-auto ul2'>
      <li class="nav-item dropdown manageAcct">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Manage Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/signUp">Sign-up</a>
          <a class="dropdown-item" href="/login">Login</a>
          <a class="dropdown-item" href="/logout">Logout</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
  </div>
</nav>
