<%-include('partials/head.ejs', {stylesheet: '/signUp.css'})%>
<body>
    <%-include('partials/navBar.ejs')%>

  <div class= 'container'>
    <div class='row'>
      <div class='col'>
        <img src= 'https://www.silicon.co.uk/wp-content/uploads/2013/08/Julien-Tromeur-Twitter-Sorry.jpg' alt='bird holding sorry sigh'>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        Please <a href='/login'>log in</a> or <a href='/signup'>Sign up</a> to proceed
      </div>
    </div>
  </div>
  
  <%-include('partials/footer.ejs')%>
</body>
</html>